/*-------------------------------------
               dialog box
 --------------------------------------*/
.dialogBox-content {
	border: 1px solid #707070;
	border-left: none;
	background-color: #fff;
}
.dialogBox-wrapper {
	border-left: 1px solid #707070;
}
.dialogBox-caption {
	padding-left: 2px;
	background: transparent url(../images/dialogCaption-left.gif) no-repeat 0% 0%;
} 
.dialogBox-caption-msg {
	text-align: center;
	padding: 3px;
	line-height: 1;
	background: #939393 url(../images/dialogCaption-bg.gif) repeat-x 0% 0%;
	cursor: default;
}
.dialogBox-caption-end {
	background: transparent url(../images/dialogCaption-right.gif) no-repeat 100% 0%;
	padding-right: 2px;
}


/*-------------------------------------
               login box
 --------------------------------------*/
.mpdb-login .detailsPanel {		
	margin-top: 0;
}
.mpdb-login em {
	display: none;
}
