/*-------------------------------------
                  type
 --------------------------------------*/
h1, .h1 {
	font: 2em Helvetica, Arial, sans-serif;
	padding-top: 0.7em;
	margin-bottom: 0.5em;
}
h2, .h2 {
	font: 1.5em Helvetica, Arial, sans-serif;
}
h3, .h3 {
	font: 1.3em Helvetica, Arial, sans-serif;
}
p {margin: 1em 0;}


/*-------------------------------------
               hyperlinks
 --------------------------------------*/
.gwt-Hyperlink {
	cursor:pointer;
}
.page-container a, .page-container a:link,
.page-leftcol a, .page-leftcol a:link,
.page-footer a, .page-footer a:link,
.gwt-Hyperlink {
	text-decoration: underline;
	color: #0c5ea3;
}
.page-container a:visited, #footer a:visited {
	color: #7f15b0;
}
.page-leftcol a:visited { 
	color: #0c5ea3;
}
.page-container a:focus, .page-container a:hover, .page-container a:active,
.page-leftcol a:focus, .page-leftcol a:hover, .page-leftcol a:active,
.page-footer a:focus, .page-footer a:hover, .page-footer a:active,
.gwt-Hyperlink:focus, .gwt-Hyperlink:hover {
	color: #318fdf;
}



/*-------------------------------------
                 lists
 --------------------------------------*/
ul.bullet, ol {
	margin-left: 2em;
}
ul.bullet li {
	list-style-image: url(http://mpdb.zakness.com/images/li-bluearrow.gif);
	text-indent: -5px;
}
ol li {
	list-style-type: decimal;
	line-height: 1em;
	margin: 0.6em 0;
	color: #39c;
}
ol li span {
	color: #000;
}

/*-------------------------------------
				ProgressBar
---------------------------------------*/

.gwt-ProgressBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #AAAAAA;
  height: 14pt;
  width: 170px;
  cursor: pointer;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
  background-color: #67A7E3;
  cursor: pointer;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-text {
  padding: 0px;
  margin: 0px;
  color: white;
}

/*-------------------------------------
                 buttons
 --------------------------------------*/
button {
	border: 1px solid #ccc;
	padding: 0.3em;
	cursor: pointer;
	margin-right: 0.2em;
}
button:focus, button:hover {
	border: 1px solid #999;
}
button.btnPrimary,
button.submit {
	font-weight: bold;
}

/*-------------------------------------
                tables
		 
		 * need classname when .headerCell is the current sorting cell (instead of adding img)
 --------------------------------------*/
.mpdb-dataTable {
	width: 100%;
}
.mpdb-dataTable .headerCell {
	background-color: #faf4df;
	font-weight: bold;
	color: #64230f;
	text-align: left;
	vertical-align: middle;
	padding: 0.3em 0.5em;
	border-bottom: 1px solid #e2c798;
} 
.mpdb-dataTable .headerCell .gwt-Hyperlink {			/* need to fix */
	border-bottom: none;
}
.mpdb-dataTable .headerCell .gwt-Hyperlink a {			/* need to fix */
	color: #64230f;
	border-bottom: none !important;
	padding-right: 15px;
	background: transparent url(http://mpdb.zakness.com/samana/headerCell-sort.gif) no-repeat right center;
}
.mpdb-dataTable .headerCell .gwt-Hyperlink a img {			/* need to fix */
	background-color: #faf4df;
	margin-right: -15px;
	padding-top: 6px;
}
.mpdb-dataTable td {
	vertical-align: middle;
	padding: 0.3em 0.5em;
	border-bottom: 1px dotted #ddd;
	color: #333;
}
.mpdb-dataTable tr.oddRow {
	background: #f9f9f9;
}

.mpdb-dataTableBlue {
	background-color: #E6EAF6;
	}
.mpdb-dataTablePink {
	background-color: #FAF4DF;
}

.mpdb-dataTablePink td {
	vertical-align: middle;
	padding: 0.3em 0.5em;
	border-bottom: 1px solid #E2C798;
}

.mpdb-dataTableLightBlue {
	background-color: #ECF5FD;
}

.mpdb-dataTableLightBlue td {
	vertical-align: middle;
	padding: 0.3em 0.5em;
	border-top: 1px solid #DBE2EC;
	border-bottom: 1px solid #DFECF9;
}

.mpdb-dataTableUserSamples .gwt-Label {
	font-family: Helvetica;
	font-size:9pt;
}

.mpdb-dataTableUserSamples .gwt-Hyperlink {
	font-family: Helvetica;
	font-size:9pt;	
}

button.remove {
 	background-image: url(../images/icon-remove.gif);
 	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #FFFFFF;
	border: none;
}

.beta {
	/*background-color: #FF0000;*/
	border: 3px solid #FF0000;
}

.resizeable{
	display: table-cell;
	border: none;
	padding: 0;
	margin: 0;
}

.resizeable2{
	display: table;
}

.subsample-imagetypes {
	/*background:#696969 url(../images/loading-bg.gif) repeat-x scroll left top;*/
	background:#696969
}

.subsample-header{
	background: #F9F9F9;
	width: 100%;
	spacing-top: 15px;
	margin-bottom: 15px;
	margin-top: 15px;	
	border-bottom: 1px solid #EFEFEF;
}

.lbCloseLink {
	background:transparent url(../images/closelabel.gif) no-repeat scroll center;
	display:block;
	float:right;
	height:22px;
	margin:5px 0pt;
	width:75px;
}

.prevLink {
	background:transparent url(../images/prev.bmp) no-repeat scroll center;
	display:block;
	float:right;
	height:33px;
	margin:5px 0pt;
	width:75px;
}

.nextLink {
	background:transparent url(../images/next.bmp) no-repeat scroll center;
	display:block;
	float:right;
	height:33px;
	margin:5px 0pt;
	width:75px;
}

.image-title{
	font-weight: bold;
	color: #666666;
}

.editlink {
	background-image:url(../images/icon-edit.gif);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:15px;
}


