/*-------------------------------------
                  type
 --------------------------------------*/
h1, .h1 {
	font-size: 2em;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
}
h2, .h2 {
	font-size: 1.5em;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
}
h3, .h3 {
	font-size: 1.3em;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
}
p {
	margin: 1em 0;
	line-height: 1.5;
}

.type-large-number {
	font: 1.8em "Lucida Grande",Verdana,sans-serif;
	color: #000;
}
.type-small-caps {
	font: 0.9em "Gill Sans",Verdana,sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;
}
.element-margin {
	margin: 10px;
}
.igsn {
	color: #fff;
	background-color: #d3d3d3;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.pdf {
	color: #ae0808;
	background-color: #fff;
	font-size: 0.8em;
	padding: 0.2em 0.2em 0;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border: 1px solid #eee;
}

/*-------------------------------------
               hyperlinks
 --------------------------------------*/
a, a:link, a:visited {
	color: #0c5ea3;
	text-decoration: underline;
	cursor: pointer;
}
a:focus, a:hover, a:active {
	color: #318fdf;
}
.large-icon-link {
	padding: 10px 0 10px 24px;
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
}
.upload-link {
	background-image: url(../images/icon-upload.png);
}
.upload-multi-link {
	background-image: url(../images/icon-upload-multi.png);
}
.add-link {
	background-image: url(../images/icon-add.png);
}
.info-link {
	background-image: url(../images/icon-info.png);
}

/*-------------------------------------
                 inputs
 --------------------------------------*/
input[type="text"] {
	border: 1px solid #ccc;
	padding: 4px;
}
input[type="text"]:focus, 
input[type="text"]:hover {
	border-color: #999;
}

input[type="text"].invalid {
	border-bottom: 2px solid #e31428;
	background-color: #f9f9f9;
}


/*-------------------------------------
                 buttons
 --------------------------------------*/
button {
	border: none;
}
.gwt-Button {
	border: 1px solid #ccc;
	padding: 0.3em;
	cursor: pointer;
	margin-right: 0.2em;
}
.gwt-Button:focus, .gwt-Button:hover {
	border: 1px solid #999;
}
button.btnPrimary,
button.submit {
	font-weight: bold;
}
.gwt-Button.remove {
 	background-image: url(../images/icon-remove.gif);
 	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #FFFFFF;
	border: none;
}

.icon-plus {
	width: 16px;
	height: 16px;
	background: transparent url(../images/icon-plus.png) no-repeat 50% 50%;
}
.icon-plus:active {
	background-image: url(../images/icon-plus-active.png);
}
.icon-plus-disabled,
.icon-plus-disabled:active {
	background-image: url(../images/icon-plus-disabled.png);
}
.icon-minus {
	width: 16px;
	height: 16px;
	background: transparent url(../images/icon-minus.png) no-repeat 50% 50%;
}
.icon-minus:active {
	background-image: url(../images/icon-minus-active.png);
}
.icon-minus-disabled,
.icon-minus-disabled:active {
	background-image: url(../images/icon-minus-disabled.png);
}

