/*-------------------------------------
             MPDB
 --------------------------------------*/
@import "reset.css";
@import "layout.css";
@import "elements.css";
@import "utility.css";

/*-------------------------------------
             widgets
 --------------------------------------*/
@import "dialogs.css";
@import "widgets.css";
@import "widget-calendar.css";
@import "widget-detailsPanel.css";
@import "widget-tabPanel.css";

/*-------------------------------------
             pages
 --------------------------------------*/
@import "page-bulk-upload.css";
@import "page-imagemap.css";
@import "page-intro.css";
@import "page-myprojects.css";
@import "page-mysamples.css";
@import "page-projectdetails.css";
@import "page-register.css";
@import "page-sampledetails.css";
@import "page-search.css";

/*-------------------------------------
             :(
 --------------------------------------*/
@import "deprecated.css";


/*-------------------------------------
             Hallow's Eve
 --------------------------------------*/
#header {
	background: #000;
	padding-top: 62px;
}
#header .hdrmsg {
	top: 40px;
	left: 202px;
}
#header .hdrmsg:after {
	content: ". BOO!";
}
#logbar-bg,
#logbar-end,
#logbar {
	background: none;
	color: #fff;
}
#logbar a,
#logbar a:link,
#logbar a:visited {
	color: #48bd15;
}
#logbar a:focus,
#logbar a:hover,
#logbar a:active {
	color: #5cf01a;
}
#mpdb-logo {
	top: 0;
	height: 106px;
	background-image: url(../images/hw-mpdb-logo.png);
}
#hdrnav {
	border-top-color: #f79a20;
	border-bottom-color: #a05111;
	background-color: #ffd54e;
	background-image: url(../images/hw-nav-left.gif);
}
#hdrnav .gwt-MenuBar {
	background-image: url(../images/hw-nav-bg.gif);
}
#hdrnav .gwt-MenuItem a,
#hdrnav .gwt-MenuItem a:link,
#hdrnav .gwt-MenuItem a:visited {
	color: #000;
	text-decoration: none;
	background-image: url(../images/hw-nav-tab-right.gif);
}
#hdrnav .gwt-MenuItem-selected {
	background-image: url(../images/hw-nav-bg-hover.gif);
}
#hdrnav .gwt-MenuItem a.hasMenu,
#hdrnav .gwt-MenuItem a.hasMenu:link,
#hdrnav .gwt-MenuItem a.hasMenu:visited {
	background-image: url(../images/hw-nav-tab-drop.gif);
}
div.hdrnavMenu {
	border-left-color: #a05111;
	border-top-color: #a05111;
	background-image: url(../images/hw-nav-menu-bottom.gif);
}
div.hdrnavMenu table {
	background-color: #d5f6a1;
	background-image: url(../images/hw-nav-menu-bg.gif);
}
div.hdrnavMenu .gwt-MenuItem {
	border-left-color: #ffea8d;
	border-top-color: #fff0a4;
	border-right-color: #a05111;
	border-bottom-color: #ffdd5c;
}
div.hdrnavMenu .gwt-MenuItem a,
div.hdrnavMenu .gwt-MenuItem a:link,
div.hdrnavMenu .gwt-MenuItem a:visited {
	color: #000;
}
div.hdrnavMenu .gwt-MenuItem a:focus,
div.hdrnavMenu .gwt-MenuItem a:hover,
div.hdrnavMenu .gwt-MenuItem a:active {
	background-color: #251806;
	color: #f09517;
}