/*-------------------------------------
             sample details
 --------------------------------------*/
 
.p-sample-details .two-cols .content {
	margin: 10px;
}
 
.sd-gmap {
	float: right;
	width: 450px;
	height: 300px;
}
