/*-------------------------------------
              search
 --------------------------------------*/

.search .tabPanel {
	width: 100%;
}

/* todo: remove "rt-" once search can be styled properly */
.search .rt-checkbox {
	display: table-row;
	color: #444;
}
.search .rt-checkbox input {
	border: 0 !important;
	margin: 0 5px 0 0;
}
.search .rt-checkbox label,
.search .rt-checkbox input {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 6px;
}
.search .rt-checkbox-checked {
	color: #000;
	text-shadow: 1px 1px 0 #eee;
}

.criteria {
	width: 100%;
}
.criteria .titlebar {
	background-color:#DADADA;
	border-bottom:1px solid #C8C8C8;
	color:#324453;
	width:100%;
}
.criteria .titlebar td {
	height: 36px;
}

.criteria ul li {
	border:1px solid #C8C8C8;
	padding:0.8em 0.5em 0.5em !important;
}

.critlabel {
	color:#3399F0;
	font-size:0.9em;
}

.search-button {
	margin-left: 300px;
	background-color: #000;
	color: #fff;
	font-weight: bold; 	
}

/*-------------------------------------
              rock types
 --------------------------------------*/
.search-rt {
	margin: 10px;
}
.search-rt-table {
	width: 100%;
}

/*-------------------------------------
              location
 --------------------------------------*/
.search-loc {
	margin: 10px;
}
.search-map {
	padding-right: 17em;
}
.search-map .left-col {
	position: relative;
	width: 100%;
}
.search-map .right-col {
	position: relative;
	margin-right: -17em;
	width: 17em;
}
.search-map .right-col .content {
	padding-left: 10px;
}
.search-map .right-col .gwt-Label,
.search-map .right-col a:last-child {
	margin-top: 10px;
}
.search-map .right-col input {
	display: block;
}
.search-map-nb, .search-map-sb,
.search-map-eb, .search-map-wb {
	padding-left: 20px !important;
	background-position: 4px 4px;
	background-repeat: no-repeat;
}
.search-map-nb { background-image: url(../images/icon-bounds-north.png); }
.search-map-sb { background-image: url(../images/icon-bounds-south.png); }
.search-map-eb { background-image: url(../images/icon-bounds-east.png); }
.search-map-wb { background-image: url(../images/icon-bounds-west.png); }

.search-loc-region td {
	padding-bottom: 10px;
}
.search-loc-region .label {
	padding-right: 7px;
	text-align: right;
}
.search-loc-switch {
	margin-bottom: 10px;
	padding: 5px;
	background-color: #e9f4ff;
}
.search-loc-switch li {
	display: inline;
	margin-right: 10px;
}
.search-loc-switch .gwt-RadioButton {
	display: table-row;
}
.search-loc-switch .gwt-RadioButton input {
	border: 0 !important;
	margin: 0 4px 0 0;
}
.search-loc-switch .gwt-RadioButton label,
.search-loc-switch .gwt-RadioButton input {
	display: table-cell;
	line-height: 1;
	vertical-align: middle;
}

/*-------------------------------------
              provenance
 --------------------------------------*/
.search-prov {
	margin: 10px;
}
.search-prov td {
	padding-bottom: 10px;
}
.search-prov .label {
	padding-right: 7px;
	text-align: right;
}
