/*-------------------------------------
             sample details
 --------------------------------------*/
 
.p-sample-details .two-cols .content {
	margin: 10px;
}
 
.sd-gmap {
	float: right;
	width: 450px;
	height: 300px;
}

.comments {
	margin: 20px 10px;
	width: 45%;
}
.comments .notice-panel {
	margin-top: 5px;
}
.comment-list {
	margin: 10px 0;
}
.comment-form {
	background-color: #e7e7e7;
	border-top: 1px solid #ccc;
	padding: 10px;
}
.comments textarea {
	display: block;
	margin: 5px 0;
	width: 90%;
	font: 1em Verdana,Helvetica,Arial,sans-serif;
	padding: 0.2em 0.1em;
	height: 7em;
}
.comments button {
	margin-right: 10px;
}

.comment {
	position: relative;
	border-top: 1px solid #ccc;
	padding-top: 8px;
	margin-top: 10px;
}
.comment .trash {
	position: absolute;
	left: 3px;
	top: 9px;
	cursor: pointer;
}
.comment .author,
.comment .edit,
.comment .edit-panel {
	margin-left: 20px;
}
.comment .edit {
	font-size: 0.9em;
}
.comment .author span {
	font-size: 0.9em;
	color: #4E5159;
	margin-left: 0.3em;
}
.comment .body {
	margin: 5px 20px 0;
}