/*-------------------------------------
			calendar input
 --------------------------------------*/
.daterange .gwt-Label {
	display: inline;
	margin: 0 5px;
}
.daterange input {
	width: 6.3em;
}
.daterange span {
	margin: 0 10px;
}
.daterange .daterange-btn {
	background: transparent url(../images/icon-calendar.gif) no-repeat 50% 50%;
	width: 23px;
	height: 24px;
	vertical-align: top;
	border: none;
}
.daterange .daterange-btn:hover {
	background-image: url(../images/icon-calendar-hover.gif);
}

/*-------------------------------------
			calendar popup
 --------------------------------------*/

.gwt-DatePicker {
	background-color: #e6eaf1;
	border: 1px solid #91a3c1;
}
table.calendar-panel {
	width: 100%;
	background-color: #F6FFDD;
	border: none !important;
}

.weekend {
	background-color: #eee;
}

.date-cell, .filler-cell {
	border: 1px solid #e4f0c3;
	text-align: center;
}
.day-title {
	background-color: #e4f0c3;
	color: #55700a;
	border-bottom: 1px solid #6fa4d5;
}
.date-cell {
	background-color: #fff;
	color: #7d992f;
	padding:3px 3px 3px 3px;
}

.highlighted-cell {
	background-color: #111;
	color: #fff;
	cursor:pointer;	
}

.selected-cell {
	background-color:#222;
	color: #fff;
}

.month-label {
	width:100%;
	text-align:center;
}

.month-forward, .month-backward {
	cursor:pointer;
}
