.scrolltable {
	margin: 10px;
}
.scrolltable-topbar {
	background-color: #d5dcf0;
	border: 1px solid #b6c2e3;
	border-bottom: none;
	padding: 5px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
}
.scrolltable-topbar .right-col {
	text-align: right;
	width: 75%;
}
.scrolltable-topbar .left-col {
	width: 25%;
}
.scrolltable-topbar .pagination,
.scrolltable-topbar .perpage {
	display: inline;
}
.scrolltable-topbar .perpage {
	margin-right: 1em;
}
.scrolltable-topbar .pagination img {
	vertical-align: middle;
	margin: 0 1px;
}
.scrolltable-topbar .pagination input {
	margin: 0 3px 0 5px;
	width: 2em;
	text-align: right;
}
.scrolltable-topbar .pagination span {
	margin-right: 5px;
}
.scrolltable-topbar .left-col .content {
	line-height: 2.1;
}
.scrolltable-topbar .left-col span {
	margin-left: 10px;
}
.scrolltable-topbar .custom-col-link {
	margin-right: 1em;
}

.scrolltable-actions {
	color: #42495e;
	padding: 5px;
	background-color: #c5cfec;
	border: 1px solid #b6c2e3;
}
.scrolltable-actions .label {
	margin-right: 5px;
}
.scrolltable-actions select,
.scrolltable-actions .subitem {
	margin-left: 5px;
}
.scrolltable-actions .item {
	margin-left: 15px;
}
.scrolltable-actions .item:first-child {
	margin-left: 10px;
}
.gwt-ScrollTable {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.gwt-ScrollTable .headerTable {
	background-color: #e5e5e5;
}
.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .dataTable td {
	vertical-align: middle;
	overflow-x: hidden;
	white-space: nowrap;
	padding: 0.3em;
}
.gwt-ScrollTable .headerTable td {
	border: 1px solid #cecece;
	border-bottom-color: #aaa;
}
.gwt-ScrollTable .dataTable td {
	border: 1px solid #DDD;
	border-bottom-color: #c5d3fb;
	color: #333;
}

.criteria-collapse {
	background-color: #f1f1f1;
	width: 100%;
}
.criteria-dropshadow {
	background: #ededed url(../images/search-criteria-shadow.png) repeat-x left bottom;
	height: 6px;
}
.criteria-collapse a.header {
	background: #c2c2c2 url(../images/search-collapsebar-bg.png) repeat-x left top;
	height: 7px;
	padding-top: 4px;
}
.criteria-collapse a.header:hover {
	background-position: left -11px;
}
.criteria-collapse a.header div {
	width: 10px;
	height: 5px;
	background: transparent url(../images/search-collapsebar-arrow.png) no-repeat left top;
	margin: 0 auto;
	text-indent: -9999px;
}
.criteria-collapse-closed a.header div {
	background-position: left -5px;
}
