
/*-------------------------------------
               data table
 --------------------------------------*/
.datatable-footer {
	background: transparent url(../images/datatable-footer-caret.png) no-repeat 11px 0;
	padding-top: 10px;
	color: #42495e;
}
.datatable-footer-wrapper {
	background: transparent url(../images/datatable-footer-bg.png) repeat-x 7px 0;
	padding-bottom: 4px;
}
.datatable-footer-label {
	margin-right: 5px;
}
.datatable-footer div {
	display: inline;
}
.datatable-footer select,
.datatable-footer-subitem {
	margin-left: 5px;
}
.datatable-footer-item {
	margin-left: 15px;
}
.datatable-footer-item:first-child {
	margin-left: 10px;
}
.datatable-header-filters {
	text-align: right;
	color: #42495e;
	margin: 10px 0 5px;
}
.datatable-header-filters div,
.datatable-header-filters a {
	display: inline;
	margin-left: 10px;
}


/*-------------------------------------
				Notices
---------------------------------------*/

.notice-panel .notice-message {
	padding: 6px 9px;
}
.notice-panel .notice-hide {
	float: right;
	padding: 6px 7px 6px 2px;
}
.notice-panel .notice {
	border: 1px solid #EFEFEF;
	color: #000;
}
.notice-panel .notice-success {
	border-color: #cbee95;
	border-bottom-color: #bee0a2;
	color: #3B5C20;
}
.notice-panel .notice-error .notice-disabled .notice-urgent {
	border-color: #ffd2d2;
	border-bottom-color: #ffb3a1;
	color: #c41616;
}
.notice-panel .notice-working {
	border-color: #cde3f3;
	border-bottom-color: #a2c6de;
	color: #617684;
}
.notice-panel .notice-warning {
	border-color:#FFF1D2;
	border-bottom-color:#FFC446;
	color: #BC6600;
}
.notice-urgent:hover {
	color:red;
}


/*-------------------------------------
				ProgressBar
---------------------------------------*/
.progressbar-container {
	border: 1px solid #bebebe;
	background-color: #fff;
	padding: 1px;
	margin: 10px;
}
.gwt-ProgressBar-shell {
	background-color: #f2f2f2;
	height: 17px;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
	background-color: #97b814;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-text {
	color: #aaa;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-text-secondHalf {
	color: #fff;
}

/*-------------------------------------
			multiple input
---------------------------------------*/
.multi-input .icon-plus,
.multi-input .icon-minus {
	margin-left: 7px;
	vertical-align: middle;
}
.multi-input .icon-plus {
	margin-left: 3px;
}
.multi-input-wrap {
	display: inline;
}

/*-------------------------------------
			multiple suggest
---------------------------------------*/
.multi-suggest li+li {
	margin-top: 5px;
}


/*-------------------------------------
				auto-suggest
---------------------------------------*/

.suggest-box-wrap {
	display: inline;
}
.suggest-popup {
	margin-top: -1px;
}
.suggest-popup .suggestPopupContent {
	border: 1px solid #999;
	background-color: #f4f9fe;
}
.suggest-popup .suggestPopupContent table, 
.suggest-popup .suggestPopupContent td {
	border: 1px solid transparent;
}
.suggest-popup .suggestPopupContent .item {
	padding: 2px 5px;
	color: #4c4c4c;
}
.suggest-popup .suggestPopupContent .item-selected {
	border-bottom-color: #000;
	background: #2b2c2b url(../images/suggest-selected-bg.gif) repeat-x 0% 0%;
	color: #fff; 
}
.suggest-popup .suggestPopupContent .item strong {
	text-decoration: underline;
}

/*-------------------------------------
                 random
 --------------------------------------*/
.gwt-container
{
	text-decoration: none;
	color: #0c5ea3;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: -moz-use-text-color;
}

.smallBtn {
border:1px solid #CCCCCC;
cursor:pointer;
padding:0.3em;
font-size:0.8em;
}


