
     body {

     background: gray;
     }
     
     ul {list-style-type: none;}

   .indexcard
   {
       padding: 10px;
       background: white;
       font-size: 1em;
       font-weight: normal;
       font-family: Helvetica, Arial, sans-serif;
       -moz-border-radius: 3px;
	   -webkit-border-radius: 3px;
       border-radius: 3px;
       margin: 10px;
   }
   
   dt, .label
   {
   	 font-weight: bold	 
   }

    a,
    a:link,
    a:visited  {
	color: #318fdf;
    }

