<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>MetPetDB</display-name>

  <welcome-file-list>
    <welcome-file>MetPetDBApplication.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
	<servlet-name>imageUpload</servlet-name>
	<servlet-class>edu.rpi.metpetdb.server.ImageUploadServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageUpload</servlet-name>
    <url-pattern>/imageUpload</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>spreadsheetUpload</servlet-name>
	<servlet-class>edu.rpi.metpetdb.server.FileUploadServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spreadsheetUpload</servlet-name>
    <url-pattern>/spreadsheetUpload</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>bulkUpload</servlet-name>
	<servlet-class>edu.rpi.metpetdb.server.impl.bulk.upload.BulkUploadSampleServiceImpl</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bulkUpload</servlet-name>
    <url-pattern>/bulkUpload.svc</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>bulkUploadChemicalAnalyses</servlet-name>
	<servlet-class>edu.rpi.metpetdb.server.impl.bulk.upload.BulkUploadChemicalAnalysesServiceImpl</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bulkUploadChemicalAnalyses</servlet-name>
    <url-pattern>/bulkUploadChemicalAnalyses.svc</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>bulkUploadImages</servlet-name>
	<servlet-class>edu.rpi.metpetdb.server.impl.bulk.upload.BulkUploadImagesServiceImpl</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bulkUploadImages</servlet-name>
    <url-pattern>/bulkUploadImages.svc</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>bulkUploadReferences</servlet-name>
	<servlet-class>edu.rpi.metpetdb.server.impl.bulk.upload.BulkUploadReferencesServiceImpl</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bulkUploadReferences</servlet-name>
    <url-pattern>/bulkUploadReferences.svc</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>constants</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.ConstantsServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>constants</servlet-name>
    <url-pattern>/constants.svc</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>project</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.ProjectServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>project</servlet-name>
    <url-pattern>/project.svc</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.SearchServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search.svc</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>sample</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.SampleServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>sample</servlet-name>
    <url-pattern>/sample.svc</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>subsample</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.SubsampleServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>subsample</servlet-name>
    <url-pattern>/subsample.svc</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.UserServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user.svc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>imageBrowser</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.ImageBrowserServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageBrowser</servlet-name>
    <url-pattern>/imageBrowser.svc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>image</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.ImageServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>image</servlet-name>
    <url-pattern>/image.svc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>chemicalAnalysis</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.ChemicalAnalysisServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>chemicalAnalysis</servlet-name>
    <url-pattern>/chemicalAnalysis.svc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>mpdbGeneric</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.MpDbGenericServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>mpdbGeneric</servlet-name>
    <url-pattern>/mpdbGeneric.svc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>images</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.ImagesService</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>images</servlet-name>
	<url-pattern>/image/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>BasicKML</servlet-name>
	<servlet-class>edu.rpi.metpetdb.server.BasicKML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicKML</servlet-name>
    <url-pattern>/BasicKML.kml</url-pattern>
  </servlet-mapping>
  
   <servlet>
	<servlet-name>excel</servlet-name>
	<servlet-class>edu.rpi.metpetdb.server.ExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>excel</servlet-name>
    <url-pattern>/excel.svc</url-pattern>
  </servlet-mapping>
  
   <servlet>
	<servlet-name>svg</servlet-name>
	<servlet-class>edu.rpi.metpetdb.server.svgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svg</servlet-name>
    <url-pattern>/svg.svc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>region</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.RegionServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>region</servlet-name>
    <url-pattern>/region.svc</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>metamorphicGrade</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.MetamorphicGradeServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>metamorphicGrade</servlet-name>
    <url-pattern>/metamorphicGrade.svc</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>imagetype</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.ImageTypeServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>imagetype</servlet-name>
    <url-pattern>/imagetype.svc</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>reference</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.ReferenceServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>reference</servlet-name>
    <url-pattern>/reference.svc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>sampleComment</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.SampleCommentServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>sampleComment</servlet-name>
    <url-pattern>/sampleComment.svc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>geoReference</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.impl.GeoReferenceServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>geoReference</servlet-name>
    <url-pattern>/geoReference.svc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>searchIPhone</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.search.SearchIPhone</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchIPhone</servlet-name>
    <url-pattern>/searchIPhone.svc</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>searchIPhonePost</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.search.SearchIPhonePost</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchIPhonePost</servlet-name>
    <url-pattern>/searchIPhonePost.svc</url-pattern>
  </servlet-mapping>
  <!--
  * Our static data caching and compression servlet.
  *
  *    !!!! DO NOT MAP *.js TO THIS SERVLET !!!!
  *
  * Most browsers do not correctly handle compressed pure JavaScript, even
  * though they advertise as being able to do so in the request.  But other
  * types are OK, and hence we map those.
  -->
  <servlet>
    <servlet-name>static-gz</servlet-name>
    <servlet-class>edu.rpi.metpetdb.server.StaticCompresser</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>static-gz</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>static-gz</servlet-name>
    <url-pattern>*.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>static-gz</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>static-gz</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>static-gz</servlet-name>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>static-gz</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
</web-app>
